<% if status == 'done' %>
  <span class="fa fa-circle completion-font" style="color: #2d5d33;"></span>
<% elsif status == 'in progress' %>
  <span class="fa fa-dot-circle-o completion-font" style="color: #797979;"></span>
<% else %>
  <span class="fa fa-circle-o completion-font" style="color: #932a3c;"></span>
<% end %>