<!-- Partial view for viewing and entering comments. Calls two other partial sub views -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-center">
            <h3>Death Record Comments</h3>
        </div>
    </div>

    <div class="row">
      <div id='com' class="col-md-12">
        <% @comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment}%>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class= "col-md-12">
        <h4>Add a comment:</h4>
        <%= render partial: 'comments/form', locals: {death_record: @death_record}%>
      </div>
    </div>

</div>