<!-- Partial view for entering a comment -->
<%= form_for [death_record, Comment.new], remote: true do |f| %>
<%= f.text_area :content, rows: 1, class: 'form-control', placeholder: "Enter comment here"%>
<div class="form-group">
  <%= f.submit "Comment", class: 'btn-btn-success', disable_with: 'Submitting...' %>
</div>
<% end %>