<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Nightingale, <%= @user.email %></h1>
    <p>
      You have been asked to complete and sign a death certificate,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href=<%= @link %>> <%= @link %> </a>.
    </p>
  </body>
</html>
