<script>
  $(document).ready(function () {
    $('#event_period').datepicker({
      inputs: $('.actual_range'),
      startDate: '-3y',
      endDate: '0d',
      todayBtn: 'linked',
      todayHighlight: 'true',
      format: 'yyyy-mm-dd'
    });
    // Attach datepicker to chart start and end time inputs
    $('#event_period').datepicker({
      inputs: $('.actual_range'),
      startDate: '-3y',
      endDate: '0d',
      todayBtn: 'linked',
      todayHighlight: 'true',
      format: 'yyyy-mm-dd'
    });
    // Update chart if 'Show' is clicked
    $("#show-line-chart").click(function () {
      var start_date = $("#start_date").val()
      var end_date = $("#end_date").val()
      var type = $("#query_action").val()
      $.get("statistics/" + type, {'start_date': start_date, 'end_date': end_date}, function (data, status) {
        $('[id^=chart-]').replaceWith(data);
      });
    });
    // Draw initial line chart
    $.get("statistics/line_death_records_created", function (data, status) {
      $('[id^=chart-]').replaceWith(data);
    });
    // Draw death records by step pie chart
    $.get("statistics/pie_death_records_by_step", function (data, status) {
      $('#pie_death_records_by_step').replaceWith(data);
    });
    // Draw death record time by step bar chart
    $.get("statistics/bar_death_record_time_by_step", function (data, status) {
      $('#bar_death_record_time_by_step').replaceWith(data);
    });
  });
</script>

<div class="container">
  <div class="row">
    <%= render 'components/breadcrumb', crumbs: {"Dashboard" => death_records_path, "Admin" => admins_path, "Statistics" => nil} %>
  </div>
  <h3>Statistics</h3>
  <hr/>
  <div class="row">
    <div id="event_period" class="row">
      <div class="row">
        <div class="col-sm-2" align='right'>
          <label for="start_date">Start date</label>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="text" class="actual_range form-control datepicker" id="start_date" name="start_date">
          </div>
        </div>
        <div class="col-sm-3" align='right'>
          <label for="query_action">Query Data</label>
        </div>
        <div class="col-sm-3" align='right'>
          <div class="input-group">
            <select id="query_action" name="query_action">
              <option value="line_death_records_created">Death Records Created</option>
              <option value="line_death_records_completed">Death Records Completed</option>
              <option value="line_users_created">Users Created</option>
              <option value="line_user_sign_ins">User Sign Ins</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2" align='right'>
          <label for="end_date">End date</label>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="text" class="actual_range form-control datepicker" id="end_date" name="end_date">
          </div>
        </div>
        <div class="col-sm-6" align='right'>
          <button type="button" id="show-line-chart" class="btn btn-primary">Show</button>
        </div>
      </div>
    </div>
    </br>
    </br>
    </br>
    <div id="chart-1"></div>
    <div class="row">
      <div class="col-sm-4">
        <div id="pie_death_records_by_step"></div>
      </div>
      <div class="col-sm-8">
        <div id="bar_death_record_time_by_step"></div>
      </div>
    </div>
  </div>
</div>
