<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nightingale Notification, <%= @user.email %></h1>
    <p>
      You have Death Records that require your attention!
    </p>
    <p>
      <% if @comments.any? %>
        Comments from previous user(s):
        <% @comments.each do |comment| %>
          <%= comment %>
        <% end %>
      <% end %>
    </p>
    <p>
      To log in to Nightingale, <a href="<%= root_url %>">click here</a>.
    </p>
  </body>
</html>
