Nightingale Notification, <%= @user.email %>
===============================================
You have Death Records that require your attention!
<% if @comments.any? %>
  Comments from previous user(s):
  <% @comments.each do |comment| %>
    <%= comment %>
  <% end %>
<% end %>
To log in to Nightingale, <a href="<%= root_url %>">click here</a>.
