<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nightingale Notification, <%= @user.email %></h1>
    <p>
      There is a new Nightingale notification!<br>
    </p>
    <p> You have a new Death Record to view: <%= link_to "Edit", edit_death_record_url(@death_record) %>. </p>
    <p>
      <% if @comments.any? %>
        Comments from previous user(s):
        <% @comments.each do |comment| %>
          <%= comment %>
        <% end %>
      <% end %>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= root_url %>">Log in</a>.
    </p>
  </body>
</html>
