<h5>
  <% if step == 'identity' %>
    <span class="fa fa-arrow-right"></span> <b>Identity</b><br><br>
    <span class="fa fa-square-o"></span> Demographics<br><br>
    <span class="fa fa-square-o"></span> Disposition<br><br>
    <span class="fa fa-square-o"></span> Medical
  <% elsif step == 'demographics' %>
    <span class="fa fa-check-square-o"></span> Identity<br><br>
    <span class="fa fa-arrow-right"></span> <b>Demographics</b><br><br>
    <span class="fa fa-square-o"></span> Disposition<br><br>
    <span class="fa fa-square-o"></span> Medical
  <% elsif step == 'disposition' %>
    <span class="fa fa-check-square-o"></span> Identity<br><br>
    <span class="fa fa-check-square-o"></span> Demographics<br><br>
    <span class="fa fa-arrow-right"></span> <b>Disposition</b><br><br>
    <span class="fa fa-square-o"></span>Medical
  <% elsif step == 'medical' %>
    <span class="fa fa-check-square-o"></span> Identity<br><br>
    <span class="fa fa-check-square-o"></span> Demographics<br><br>
    <span class="fa fa-fa-check-square-o"></span> Disposition<br><br>
    <span class="fa fa-arrow-right"></span> <b>Medical</b>
  <% end %>
</h5>
