<div class="container-fluid">
  <%= render 'death_record/steps/breadcrumb' %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <%= render 'death_record/steps/progress', step: 'disposition' %>
        </div>
        <div class="col-md-10">
          <%= render 'death_record/steps/forms/disposition_form' %>
        </div>
      </div>
    </div>
  </div>
</div>