<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <%= render 'death_record/steps/breadcrumb', crumbs: {"Dashboard" => death_records_path, "Certificate Data Entry" => nil} %>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= render 'death_record/steps/progress', step: 'medical' %>
        </div>
        <div class="col-md-10">
          <%= render 'death_record/steps/forms/medical_form' %>
        </div>
      </div>
    </div>
  </div>
</div>