<a class="btn btn-primary mt-4" href="<%= submit_records_path %>"><span class="fa fa-download"></span> Submit Records</a>
<%= react_component('SubmitRecordsDashboard', { currentUser: current_user }) %>
