<div class="mt-3 mb-3">
  <%= react_component('Breadcrumb', {currentUser: current_user, crumbs: [{ name: 'Dashboard', url: death_records_path }, { name: 'Administration' }]}) %>
</div>
<div class="row mb-3">
  <h3>Import Error</h3>
  <hr/>
</div>
<div class="row">
  <%= @error_msg %>
</div>
