<div class="container">
  <div class="row">
    <%= render 'death_record/steps/breadcrumb', crumbs: {"Dashboard" => death_records_path, "Admin" => admins_path, "Reports" => nil} %>
  </div>
  <h3>Reports</h3>
  <hr/>
  TODO
</div>
