<footer class="footer night-nav-padding">
  <div class="container night-container night-footer-padding">
    Nightingale is developed by
    <a href="http://www.mitre.org">The MITRE Corporation</a>
    /
    <a href="https://www.mitre.org/centers/cms-alliances-to-modernize-healthcare/who-we-are">CMS Alliance to Modernize Healthcare (CAMH)</a>
  </div
</footer>
