<footer class="footer footer-custom navbar-fixed-bottom">
  <div class="container">
    Nightingale is developed by
    <a class="edrs-footer-link" href="http://www.mitre.org">The MITRE Corporation</a>
    /
    <a class="edrs-footer-link" href="https://www.mitre.org/centers/cms-alliances-to-modernize-healthcare/who-we-are">CMS Alliance to Modernize Healthcare (CAMH)</a>
  </div>
</footer>
